<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%-include('../partials/head.ejs')%>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <nav>
            <%-include('../partials/nav.ejs')%>
        </nav>
        <main>
            <h1 style="text-transform:capitalize"><%=filterRole%>s</h1>
            <div class="btnBox">
                <a class="btn btn-add" href="/pokemon">All Roles</a>
                <% for (let role of ['attacker','speedster','all-rounder','defender','supporter']) { %>
                    <a class="btn btn-add
                        <% if (filterRole === role) { %>
                            <%=role%>Card
                        <% } %>"
                        href="/pokemon/<%=role%>">
                        <p class="caps"><%=role%></p>
                    </a>
                <% } %>
                <!-- <a class="btn btn-add attackerCard" href="/pokemon/attacker">Attacker</a>
                <a class="btn btn-add speedsterCard" href="/pokemon/speedster">Speedster</a>
                <a class="btn btn-add all-rounderCard" href="/pokemon/all-rounder">All-Rounder</a>
                <a class="btn btn-add defenderCard" href="/pokemon/defender">Defender</a>
                <a class="btn btn-add supporterCard" href="/pokemon/supporter">Supporter</a> -->
            </div>
            <div class="cardBox">
                <% for (let pokemon of allPokemon) { %>
                    <div class="card">
                        <a class="<%=pokemon.role%>Card" href="/pokemon/<%=pokemon._id%>">
                            <img class="card-img-top" src="/images/<%=pokemon.name%>/<%=pokemon.name%>.png" alt="<%=pokemon.name%>">
                        </a>
                        <div class="card-body">
                            <h3 class="card-title"><%=pokemon.name%></h3>
                            <!-- <div class="tagBox">
                                <p class="tag-m"><%=pokemon.range%></p>
                                <p class="tag-m"><%=pokemon.role%></p>
                            </div> -->
                        </div>
                    </div>
                <% } %>
            </div>
        </main>
        <footer>
            <%-include('../partials/footer.ejs')%>
        </footer>
    </body>
</html>
