<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%-include('../partials/head.ejs')%>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <nav>
            <%-include('../partials/nav.ejs')%>
        </nav>
        <main>
            <div class="evoContainer <%=pokemon.role%>Card">
                <% for (let stage of pokemon.preEvolutions) { %>
                    <div class="evoCard">
                        <img src="/images/<%=pokemon.name%>/<%=stage.name%>.png" alt="">
                        <h4><%=stage.name%></h4>
                    </div>

                    <span>>Level <%=stage.evolveLv%>></span>
                <% } %>
                <div class="evoCard">
                    <img src="/images/<%=pokemon.name%>/<%=pokemon.name%>.png" alt="<%=pokemon.name%>">
                    <h4><%=pokemon.name%></h4>
                </div>
            </div>
            <h1><%=pokemon.name%></h1>
            <div class="tagBox">
                <p class="tag-m"><%=pokemon.range%></p>
                <p class="tag-m"><%=pokemon.role%></p>
            </div>
            <% if (currentUser) { %>
                <form action="/users/favorite/<%=pokemon._id%>" method="post">
                    <input type="text" name="userId" value="<%=currentUser._id%>" hidden>
                    <input class="btn btn-add" type="submit"  value=
                        <% if (!currentUser.favePokemon.includes(pokemon.name)) { %>
                            "Favorite"
                        <% } else { %>
                            "Unfavorite"
                        <% } %>
                    >
                </form>
            <% } %>
            <table class="statsTable">
                <thead>
                    <th colspan='2'><h3 class="statsTitle">Stats</h3></th>
                </thead>
                <% for (let stat of ['offense','endurance','mobility','scoring','support']) { %>
                    <div class="statLine">
                        <td style="text-transform:capitalize"><%=stat%>: </td>
                        <td>
                        <% let num = pokemon.stats[stat];
                            while (num > 0) {
                                if (num >= 1) { %>
                                    <i class="fas fa-star"></i>
                                <% num--
                                } else if (num === 0.5) { %>
                                    <i class="fas fa-star-half"></i>
                                <% num--
                                }
                        } %>
                        </td>
                    </tr>
                <% } %>
            </table>

            <h2>Moves</h2>
            <div class="moveBox">
                <div class="moveHeader">
                    <img src="/images/basic.png" alt="basic attack">
                    <p>basic attack</p>
                </div>
                <div class="moveBody">
                    <p><%=pokemon.moves.basic%></p>
                </div>
            </div>
            <div class="moveBox">
                <div class="moveHeader">
                    <img src="/images/<%=pokemon.name%>/passive.png" alt="passive ability">
                    <p><%=pokemon.moves.passive.name%></p>
                    <div class="tagBox">
                        <p>passive</p>
                    </div>
                </div>
                <div class="moveBody">
                    <p><%=pokemon.moves.passive.desc%></p>
                </div>
            </div>
            <h3>Level 1/3</h3>
            <div class="moveBox">
                <div class="moveHeader">
                    <img src="/images/<%=pokemon.name%>/primaryStart.png" alt="">
                    <p><%=pokemon.moves.primary.start.name%></p>
                    <div class="tagBox">
                        <p><i class="fas fa-clock"></i> <%=pokemon.moves.primary.start.cooldown%>s</p>
                        <p><%=pokemon.moves.primary.start.moveType%></p>
                    </div>
                </div>
                <div class="moveBody">
                    <p><%=pokemon.moves.primary.start.desc%></p>
                </div>
            </div>
            <div class="moveBox">
                <div class="moveHeader">
                    <img src="/images/<%=pokemon.name%>/secondaryStart.png" alt="">
                    <p><%=pokemon.moves.secondary.start.name%></p>
                    <div class="tagBox">
                        <p><i class="fas fa-clock"></i> <%=pokemon.moves.secondary.start.cooldown%>s</p>
                        <p><%=pokemon.moves.secondary.start.moveType%></p>
                    </div>
                </div>
                <div class="moveBody">
                    <p><%=pokemon.moves.secondary.start.desc%></p>
                </div>
            </div>

            <% if (pokemon.moves.primary.choiceLv < pokemon.moves.secondary.choiceLv) { %>
                <%-include('../partials/primaryMoves.ejs')%>
                <%-include('../partials/secondaryMoves.ejs')%>
            <% } else { %>
                <%-include('../partials/secondaryMoves.ejs')%>
                <%-include('../partials/primaryMoves.ejs')%>
            <% } %>

            <h3>Level <%=pokemon.moves.unite.level%></h3>
            <div class="moveBox">
                <div class="moveHeader">
                    <img src="/images/<%=pokemon.name%>/unite.png" alt="">
                    <p><%=pokemon.moves.unite.name%></p>
                    <div class="tagBox">
                        <p>unite</p>
                        <p class=<%=pokemon.moves.unite.moveType%>><%=pokemon.moves.unite.moveType%></p>
                    </div>
                </div>
                <div class="moveBody">
                    <p><%=pokemon.moves.unite.desc%></p>
                </div>
            </div>
        </main>
        <footer>
            <%-include('../partials/footer.ejs')%>
        </footer>
    </body>
</html>
