<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%-include('../partials/head.ejs')%>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <nav>
            <%-include('../partials/nav.ejs')%>
        </nav>
        <main>
            <h1 class="caps"><%=filterRole%> Mains</h1>
            <div class="btnBox">
                <a class="btn btn-add" href="/users">All Roles</a>
                <% for (let role of ['attacker','speedster','all-rounder','defender','supporter']) { %>
                    <a class="btn btn-add
                        <% if (filterRole === role) { %>
                            <%=role%>Card
                        <% } %>"
                        href="/users/filter/<%=role%>">
                        <p class="caps"><%=role%></p>
                    </a>
                <% } %>
            </div>
            <table class="table">
                <thead>
                    <th>Username</th>
                    <th>Favorite Role</th>
                </thead>
                <% for (let user of foundUsers) { %>
                    <tr>
                        <td><a href="users/<%=user._id%>"><%=user.username%></a></td>
                        <td><%=user.faveRole%></td>
                    </tr>
                <% } %>
            </table>
        </main>
        <footer>
            <%-include('../partials/footer.ejs')%>
        </footer>
    </body>
</html>
