<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%-include('../partials/head.ejs')%>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <nav>
            <%-include('../partials/nav.ejs')%>
        </nav>
        <main>
            <div class="infoContainer">
                <div class="userInfo">
                    <h3>User Info</h3>
                    <p>Username: <%=shownUser.username%></p>
                    <p>Name: <%=shownUser.firstName + ' ' + shownUser.lastName%></p>
                    <p>Pronouns: <%=shownUser.pronouns%></p>
                    <p>Favorite Role: <%=shownUser.faveRole%></p>
                    <% if (currentUser && shownUser._id.toString() !== currentUser._id.toString()) { %>
                        <% if (!currentUser.friendIds.includes(shownUser._id.toString())) { %>
                            <form action="./friend-request/<%=currentUser._id%>/<%=shownUser._id%>" method="post">
                                <input type="submit" value=<% if (!shownUser.requestIds.includes(currentUser._id.toString())) { %>
                                    "Send Friend Request"
                                <% } else { %>
                                    "Cancel Friend Request"
                                <% } %>
                                >
                            </form>
                        <% } else {%>
                            <form action="./unfriend/<%=currentUser._id%>/<%=shownUser.id%>" method="post">
                                <input type="submit" value="Unfriend">
                            </form>
                        <% } %>
                    <% } else { %>
                        <form>
                            <a class="btn btn-add" href="./<%=shownUser._id%>/edit">Edit Profile</a>
                        </form>
                    <% } %>
                </div>
                <div class="friendsInfo">
                    <h3>Friends</h3>
                    <% for (let friend of friends) { %>
                        <a href="./<%-friend._id%>"><%=friend.username%></a>
                    <% } %>
                </div>
                <% if (currentUser && shownUser._id.toString() === currentUser._id.toString()) { %>
                    <div class="requestInfo">
                        <h3>Friend Requests</h3>

                        <% for (let request of requests) { %>
                            <div class="request">
                                <a href="./<%=request._id%>"><%=request.username%></a>
                                <div class="btnBox">
                                    <form action="./accept-friend/<%=request._id%>/<%=currentUser._id%>/accept" method="post">
                                        <input class="btn btn-add" type="submit" value="Accept">
                                    </form>
                                    <form action="./accept-friend/<%=request._id%>/<%=currentUser._id%>/deny" method="post">
                                        <input class="btn btn-add" type="submit" value="Deny">
                                    </form>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            </div>
            <div class="favesBox">
                <h2>Favorite Pokemon</h2>
                <div class="cardBox">
                    <% for (let pokemon of allPokemon) {
                        if(shownUser.favePokemon.includes(pokemon.name)) {%>
                            <div class="card">
                                <a class="<%=pokemon.role%>Card" href="/pokemon/<%=pokemon._id%>">
                                    <img class="card-img-top" src="/images/<%=pokemon.name%>/<%=pokemon.name%>.png" alt="<%=pokemon.name%>">
                                </a>
                                <div class="card-body">
                                    <h3 class="card-title"><%=pokemon.name%></h3>
                                </div>
                            </div>
                        <% }
                    } %>
                </div>
            </div>
            <% if (currentUser && currentUser.username === shownUser.username) { %>

            <% } %>
        </main>
        <footer>
            <%-include('../partials/footer.ejs')%>
        </footer>
    </body>
</html>
